<%- include('parts/head')%>
<link rel='stylesheet' type='text/css' media='screen' href='/css/nav.css'>

</head>

<body>
    <%- include('parts/navbar') %>
    <h1>Hello word!</h1>
    
</body>

</html>