.error-content{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    
}
.error-title{
    font-size: 150px;
    font-weight: 900;
    text-align: center;
    color: #003200;
}
.error-paragraph{
    text-align: center;
}
.error-subtitle{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #003200;
}

@media (max-width: 858px) {
    .error-content{
        width: 400px;
    }
    .error-title{
        text-align: center;
    }
    .error-paragraph{
        font-size: 16px;
    }
    .error-subtitle{
        font-size: 18px;
    }
}