<nav class="navtop">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo"><img src="/images/logo-light.svg" alt="logo-light.svg"></label>
    <ul class="nav-items">
        <li><a href="/">Início</a></li>
        <li><a href="#">Categorias</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#" class="auth-mobile">Login</a></li>
        <li><a href="#" class="auth-mobile">Sigin</a></li>
        <div class="auth-desktop">
            <li><a href="#">Login</a></li>
            <span class="nav-divisor">|</span>
            <li><a href="#">Sigin</a></li>
        </div>
    </ul>
</nav>