<nav class="navtop">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo"><img src="/images/logo-light.svg" alt="logo-light.svg"></label>
    <ul class="nav-items">
        <li><a href="/">Início</a></li>
        <li><a href="#">Categorias</a></li>
        <li><a href="/info/sobre">Sobre</a></li>
        <li><a href="/info/contato">Contato</a></li>
        <li><a href="/autenticar/entrar" class="auth-mobile">Entrar</a></li>
        <li><a href="/autenticar/cadastrar" class="auth-mobile">Cadastrar</a></li>
        <div class="auth-desktop">
            <li><a href="/autenticar/entrar">Entrar</a></li>
            <span class="nav-divisor">|</span>
            <li><a href="/autenticar/cadastrar">Cadastrar</a></li>
        </div>
    </ul>
</nav>